In [47]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

In [48]:
load_dotenv()
DATA_PATH = os.getenv("DATA_PATH")
csv = DATA_PATH + "/Account financiële data.csv"
df = pd.read_csv(csv, delimiter=",", encoding="utf-8", keep_default_na=True, na_values=[""], 
                    # decimal= ",", quotechar = '"', doublequote = True, dtype={"crm_FinancieleData_Toegevoegde_waarde": "Float64", "crm_FinancieleData_FTE": "Float64"}
                    )
df = df.replace({np.nan: None})

df["crm_FinancieleData_Gewijzigd_op"] = pd.to_datetime(df["crm_FinancieleData_Gewijzigd_op"], format="%d-%m-%Y %H:%M:%S")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030217 entries, 0 to 2030216
Data columns (total 6 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   crm_FinancieleData_OndernemingID       object
 1   crm_FinancieleData_Boekjaar            int64
 2   crm_FinancieleData_Aantal_maanden      object
 3   crm_FinancieleData_Toegevoegde_waarde  object
 4   crm_FinancieleData_FTE                 object
 5   crm_FinancieleData_Gewijzigd_op        datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 92.9+ MB

In [50]:
df

,crm_FinancieleData_OndernemingID,crm_FinancieleData_Boekjaar,crm_FinancieleData_Aantal_maanden,crm_FinancieleData_Toegevoegde_waarde,crm_FinancieleData_FTE,crm_FinancieleData_Gewijzigd_op
0,00002DAC-0A69-E111-B43A-00505680000A,2007,None,None,1,2018-10-15 08:21:37
1,00002DAC-0A69-E111-B43A-00505680000A,2008,None,None,1,2018-10-15 13:20:45
2,00002DAC-0A69-E111-B43A-00505680000A,2009,None,None,2,2018-10-15 04:00:52
3,00002DAC-0A69-E111-B43A-00505680000A,2010,12.0,None,1,2018-10-15 12:42:56
4,00002DAC-0A69-E111-B43A-00505680000A,2011,12.0,None,1,2018-10-15 04:54:28
...,...,...,...,...,...,...
2030212,FFFF8DBC-B567-E111-A00F-00505680000A,2005,None,None,"4,9",2019-02-06 09:36:49
2030213,FFFF8DBC-B567-E111-A00F-00505680000A,2006,None,None,"5,1",2019-02-06 09:55:07
2030214,FFFF8DBC-B567-E111-A00F-00505680000A,2007,12.0,None,5,2019-02-06 11:04:35
2030215,FFFF8DBC-B567-E111-A00F-00505680000A,2008,12.0,None,6,2019-02-06 11:41:26
2030216,FFFF8DBC-B567-E111-A00F-00505680000A,2009,12.0,None,5,2019-02-07 02:13:26

In [60]:

df['crm_FinancieleData_FTE'] = df['crm_FinancieleData_FTE'].str.replace(',', '.')
df['crm_FinancieleData_Toegevoegde_waarde'] = df['crm_FinancieleData_Toegevoegde_waarde'].str.replace(',', '.')
# df['crm_FinancieleData_Aantal_maanden'] = df['crm_FinancieleData_Aantal_maanden'].str.replace(',', '.')
df['crm_FinancieleData_FTE'] = pd.to_numeric(df['crm_FinancieleData_FTE'],errors='coerce')
df['crm_FinancieleData_Toegevoegde_waarde'] = pd.to_numeric(df['crm_FinancieleData_Toegevoegde_waarde'],errors='coerce')
# df['crm_FinancieleData_Aantal_maanden'] = pd.to_numeric(df['crm_FinancieleData_Aantal_maanden'],errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [59]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030217 entries, 0 to 2030216
Data columns (total 6 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   crm_FinancieleData_OndernemingID       object
 1   crm_FinancieleData_Boekjaar            int64
 2   crm_FinancieleData_Aantal_maanden      object
 3   crm_FinancieleData_Toegevoegde_waarde  float64
 4   crm_FinancieleData_FTE                 float64
 5   crm_FinancieleData_Gewijzigd_op        datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 92.9+ MB

,crm_FinancieleData_OndernemingID,crm_FinancieleData_Boekjaar,crm_FinancieleData_Aantal_maanden,crm_FinancieleData_Toegevoegde_waarde,crm_FinancieleData_FTE,crm_FinancieleData_Gewijzigd_op
0,00002DAC-0A69-E111-B43A-00505680000A,2007,None,NaN,1.0,2018-10-15 08:21:37
1,00002DAC-0A69-E111-B43A-00505680000A,2008,None,NaN,1.0,2018-10-15 13:20:45
2,00002DAC-0A69-E111-B43A-00505680000A,2009,None,NaN,2.0,2018-10-15 04:00:52
3,00002DAC-0A69-E111-B43A-00505680000A,2010,12.0,NaN,1.0,2018-10-15 12:42:56
4,00002DAC-0A69-E111-B43A-00505680000A,2011,12.0,NaN,1.0,2018-10-15 04:54:28
...,...,...,...,...,...,...
2030212,FFFF8DBC-B567-E111-A00F-00505680000A,2005,None,NaN,4.9,2019-02-06 09:36:49
2030213,FFFF8DBC-B567-E111-A00F-00505680000A,2006,None,NaN,5.1,2019-02-06 09:55:07
2030214,FFFF8DBC-B567-E111-A00F-00505680000A,2007,12.0,NaN,5.0,2019-02-06 11:04:35
2030215,FFFF8DBC-B567-E111-A00F-00505680000A,2008,12.0,NaN,6.0,2019-02-06 11:41:26
2030216,FFFF8DBC-B567-E111-A00F-00505680000A,2009,12.0,NaN,5.0,2019-02-07 02:13:26